doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Pug | Boilerplate
		link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="assets/css/common.css")
	body
		header
			.title Pug Boilerplate
		main
			.text
				img.main-image(src="assets/img/boiler.jpg")
				p A boilerplate for website development project using Pug.
				p Usage:
				p 1. $ npm install
				p 2. $ npm run all
		footer
			.foot
				a(href="https://github.com/ydah") © 2020 Yudai TAKADA(@ydah)
		script(src="assets/js/common.js")